
<!-- Footer Section Begin -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer__about">
                    <!-- <div class="footer__logo">
                        <a href="#"><img src="img/earcreafters-logo.png" alt=""></a>
                    </div> -->

                    <div class="footer-logo">
                        <a href="/">
                        
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 800 400">
                                <!-- Background splatter -->
                                <path d="M100,100 C150,60 250,80 300,70 S400,40 500,70 S600,120 650,100 S750,80 780,120 S730,180 750,220 S700,260 650,270 S550,290 500,280 S400,270 350,290 S250,300 200,280 S100,240 80,200 S70,140 100,100 Z" fill="#1a1a1a"/>
                                
                                <!-- Additional paint splatters -->
                                <circle cx="90" cy="85" r="15" fill="#1a1a1a"/>
                                <circle cx="750" cy="110" r="20" fill="#1a1a1a"/>
                                <circle cx="720" cy="280" r="18" fill="#1a1a1a"/>
                                <circle cx="65" cy="230" r="12" fill="#1a1a1a"/>
                                <circle cx="130" cy="290" r="10" fill="#1a1a1a"/>
                                
                                <!-- Paint drips -->
                                <path d="M150,290 Q155,320 145,340 Q140,310 150,290" fill="#1a1a1a"/>
                                <path d="M610,270 Q615,310 605,350 Q600,310 610,270" fill="#1a1a1a"/>
                                <path d="M450,280 Q455,320 445,360 Q440,320 450,280" fill="#1a1a1a"/>
                                
                                <!-- Main text - EarCrafters -->
                                <text x="400" y="180" font-family="Georgia, serif" font-size="70" fill="#e6e6e6" text-anchor="middle" font-weight="bold">EarCrafters</text>
                                
                                <!-- Ear icon integrated with text -->
                                <path d="M190,150 C175,130 180,110 195,105 S225,110 230,130 S225,160 215,170 L210,175 C205,180 200,190 205,200 Q210,180 220,170 Q235,155 235,130 Q235,105 210,100 Q185,100 180,125 Q175,145 190,160" fill="#e6e6e6"/>
                                
                                <!-- Since 1999 text -->
                                <text x="400" y="230" font-family="Georgia, serif" font-size="28" fill="#b3b3b3" text-anchor="middle" font-style="italic">since 1999</text>
                                
                                <!-- Decorative elements suggesting audio waves or jewelry -->
                                <path d="M300,240 Q310,245 320,240 Q330,235 340,240 Q350,245 360,240 Q370,235 380,240 Q390,245 400,240" stroke="#999999" stroke-width="2" fill="none"/>
                                <path d="M400,240 Q410,235 420,240 Q430,245 440,240 Q450,235 460,240 Q470,245 480,240 Q490,235 500,240" stroke="#999999" stroke-width="2" fill="none"/>
                            </svg>
    
                        </a>
                    </div>

                    <p>We craft headsets that match your vibe and elevate your listening experience. Designed for audiophiles, crafted for everyone.</p>
                    <a href="#"><img src="img/payment.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                <div class="footer__widget">
                    <h6>Shopping</h6>
                    <ul>
                        <li><a href="#">Trending Speakers</a></li>
                        <li><a href="#">Trending Headset</a></li>
                        <li><a href="#">Accessories</a></li>
                        <li><a href="#">Sale</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6">
                <div class="footer__widget">
                    <h6>Shopping</h6>
                    <ul>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Payment Methods</a></li>
                        <li><a href="#">Delivary</a></li>
                        <li><a href="#">Return & Exchanges</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                <div class="footer__widget">
                    <h6>NewLetter</h6>
                    <div class="footer__newslatter">
                        <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                        <form action="#">
                            <input type="text" placeholder="Your email">
                            <button type="submit"><span class="icon_mail_alt"></span></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</footer>
<!-- Footer Section End -->

<!-- Search Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Search End -->

<!-- Js Plugins -->
<!-- <script src="js/jquery-3.3.1.min.js"></script> -->
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.nice-select.min.js"></script>
<script src="js/jquery.nicescroll.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/jquery.countdown.min.js"></script>
<script src="js/jquery.slicknav.js"></script>
<script src="js/mixitup.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/main.js"></script>

<!-- Additional -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.all.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<script src="./user-assets/js/vendor/modernizr-3.6.0.min.js"></script>
<script src="./user-assets/js/vendor/jquery-3.6.0.min.js"></script>
<script src="./user-assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
<script src="./user-assets/js/vendor/bootstrap.bundle.min.js"></script>
<script src="./user-assets/js/plugins/slick.js"></script>
<script src="./user-assets/js/plugins/jquery.syotimer.min.js"></script>
<script src="./user-assets/js/plugins/wow.js"></script>
<script src="./user-assets/js/plugins/jquery-ui.js"></script>
<script src="./user-assets/js/plugins/perfect-scrollbar.js"></script>
<script src="./user-assets/js/plugins/magnific-popup.js"></script>
<script src="./user-assets/js/plugins/select2.min.js"></script>
<script src="./user-assets/js/plugins/waypoints.js"></script>
<script src="./user-assets/js/plugins/counterup.js"></script>
<script src="./user-assets/js/plugins/jquery.countdown.min.js"></script>
<script src="./user-assets/js/plugins/images-loaded.js"></script>
<script src="./user-assets/js/plugins/isotope.js"></script>
<script src="./user-assets/js/plugins/scrollup.js"></script>
<script src="./user-assets/js/plugins/jquery.vticker-min.js"></script>
<script src="./user-assets/js/plugins/jquery.theia.sticky.js"></script>
<script src="./user-assets/js/plugins/jquery.elevatezoom.js"></script>
<script src="./user-assets/js/maind134.js?v=3.4"></script>
<script src="./user-assets/js/shopd134.js?v=3.4"></script>
</body>
</html>

</body>

</html>