<!DOCTYPE html>
<html lang="zxx">
<head>
   <meta charset="UTF-8">
   <meta name="description" content="Male_Fashion Template">
   <meta name="keywords" content="Male_Fashion, unica, creative, html">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>EarCrafters</title>
   <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
   rel="stylesheet">
   <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
   <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
   <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
   <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
   <link rel="stylesheet" href="css/nice-select.css" type="text/css">
   <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
   <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
   <link rel="stylesheet" href="css/style.css" type="text/css">
   <link rel="stylesheet" href="./user-assets/css/maind134.css">
   <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
   

   <style>
        .header__nav__option .sign-in-link {
        font-size: 16px;
        color: #333;
        margin-right: 15px;
        text-decoration: none;
        font-weight: 600;
        }

        .header__nav__option .sign-in-link:hover {
        color: #ff7f50;
        }

        .dropdown {
        position:relative;
        display:inline-block;
        }

        .dropdown-content {
        display: none;
        position:absolute;
        background-color: white;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index:1000;
        right:0;
        }

        .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        width: 100%;
        }

        .dropdown-content a:hover{
        background-color: #f1f1f1;
        }

        .dropdown:hover .dropdown-content{
        display: block;
        }

        .header {
        position: relative;
        z-index: 500;
        }

        /* logo */
        .header__logo svg {
            width: 170px; /* or whatever size you need */
            height: auto;
        }
        .footer-logo {
            width: 200px;
            height: auto;
        }

    </style>

</head>
<body>
   <header class="header">
       <div class="container">
           <div class="row">
               <!-- <div class="col-lg-3 col-md-3">
                   <div class="header__logo">
                       <a href="/"><img src="/img/earcrafters-logo.svg" alt="EarCrafters-logo"></a>
                   </div>
               </div> -->


               <!-- Logo start -->
               <div class="header__logo">
                    <a href="/">
                    
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 800 400">
                            <!-- Background splatter -->
                            <path d="M100,100 C150,60 250,80 300,70 S400,40 500,70 S600,120 650,100 S750,80 780,120 S730,180 750,220 S700,260 650,270 S550,290 500,280 S400,270 350,290 S250,300 200,280 S100,240 80,200 S70,140 100,100 Z" fill="#1a1a1a"/>
                            
                            <!-- Additional paint splatters -->
                            <circle cx="90" cy="85" r="15" fill="#1a1a1a"/>
                            <circle cx="750" cy="110" r="20" fill="#1a1a1a"/>
                            <circle cx="720" cy="280" r="18" fill="#1a1a1a"/>
                            <circle cx="65" cy="230" r="12" fill="#1a1a1a"/>
                            <circle cx="130" cy="290" r="10" fill="#1a1a1a"/>
                            
                            <!-- Paint drips -->
                            <path d="M150,290 Q155,320 145,340 Q140,310 150,290" fill="#1a1a1a"/>
                            <path d="M610,270 Q615,310 605,350 Q600,310 610,270" fill="#1a1a1a"/>
                            <path d="M450,280 Q455,320 445,360 Q440,320 450,280" fill="#1a1a1a"/>
                            
                            <!-- Main text - EarCrafters -->
                            <text x="400" y="180" font-family="Georgia, serif" font-size="70" fill="#e6e6e6" text-anchor="middle" font-weight="bold">EarCrafters</text>
                            
                            <!-- Ear icon integrated with text -->
                            <path d="M190,150 C175,130 180,110 195,105 S225,110 230,130 S225,160 215,170 L210,175 C205,180 200,190 205,200 Q210,180 220,170 Q235,155 235,130 Q235,105 210,100 Q185,100 180,125 Q175,145 190,160" fill="#e6e6e6"/>
                            
                            <!-- Since 1999 text -->
                            <text x="400" y="230" font-family="Georgia, serif" font-size="28" fill="#b3b3b3" text-anchor="middle" font-style="italic">since 1999</text>
                            
                            <!-- Decorative elements suggesting audio waves or jewelry -->
                            <path d="M300,240 Q310,245 320,240 Q330,235 340,240 Q350,245 360,240 Q370,235 380,240 Q390,245 400,240" stroke="#999999" stroke-width="2" fill="none"/>
                            <path d="M400,240 Q410,235 420,240 Q430,245 440,240 Q450,235 460,240 Q470,245 480,240 Q490,235 500,240" stroke="#999999" stroke-width="2" fill="none"/>
                        </svg>

                    </a>
                </div>
                <!-- Logo end -->


               <div class="col-lg-6 col-md-6">
                   <nav class="header__menu mobile-menu">
                       <ul>
                           <li><a href="/">Home</a></li>
                           <li><a href="/shop">Shop</a></li>
                           <li><a href="/userProfile" style="text-align: center;"> Profile </a></li>
                       </ul>
                   </nav>
               </div>
               <div class="col-lg-3 col-md-3">
                   <div class="header__nav__option">
                       <%if(locals.user){%>
                           <div class="dropdown">
                                <a href="#" class="sign-in-link"><%=locals.user.name%></a>
                                <div class="dropdown-content">

                                   
                                   <a href="/logout" style="text-align: center;"><i class="fa-solid fa-right-from-bracket fa-rotate-180" style="color: #000000;"></i> Logout</a>

                                </div>

                            </div>
                        <%} else {%>
                            <a href="/signup" class="sign-in-link">Sign Up</a>
                            <a href="/login" class="sign-in-link">Log in</a>
                        <%}%>
                       <a href="/wishlist"><img src="img/icon/heart.png" alt=""></a>
                       <a href="/cart"><img src="img/icon/cart.png" alt=""> <span>0</span></a>
                   </div>
               </div>
           </div>
           <div class="canvas__open"><i class="fa fa-bars"></i></div>
       </div>
   </header>

